<div class="card container my-4"> 
    <ng-container *ngIf="item && item.no"> <!-- w przypadku pustego obiektu z API, nie wyswietlimy szczegółów-->
        <img class="card-img-top p-4 mt-4" [src]="item.imageUrl" [alt]="item.name">
        <div class="card-body">
            <div class="card-title">
                <span class="font-weight-bold">Name: </span>{{item.name}}
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <span class="font-weight-bold">Quantity: </span>{{item.quantity}}
                </div>
                <div>
                    <span class="font-weight-bold">Price: </span>{{item.price | currency:'USD':'symbol'}}
                </div>
            </div>
        </div>
    </ng-container>
    <button type="button" class="btn btn-light my-4 mr-auto" (click)="onBack()"> < Back</button>
</div>